* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.postBox {
  width: 600px;
  height: 300px;
  margin: 0 auto;
  border: solid 1px black;
  margin-bottom: 15px;
}
.postBox > .title {
  border-bottom: solid 1px black;
}
.postBox > .img {
  width: 230px;
  height: 230px;
}
